* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300%;
}

.button {
  border-style: solid;
  border-color: rgb(250 234 132);
  border-width: 4em;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: rgb(252 237 156);
}

.button-clicked {
  border-style: solid;
  border-color: gray;
  border-width: 4em;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: rgb(252 237 156);
}

body {
  background-color: rgb(254 249 241);
}

.body-black {
  background-color: black;
}
