* {
  box-sizing: border-box;
}

body {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.top-text {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

h1 {
  font-weight: 1000;
  letter-spacing: 0.2rem;
  font-size: 2.5em;
  padding-top: 20px;
}

h3 {
  font-size: 13px;
  width: 80%;
}

p {
  font-size: 12px;
  line-height: 22px;
}

img {
  width: 90px;
  height: 90px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.row {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.column-half {
  flex-basis: calc(100% / 2);
}

.text {
  width: 100%;
  padding-right: 35px;
}

form {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

input {
  height: 30px;
  width: 140px;
  font-size: 11px;
  letter-spacing: 1px;
  background-color: white;
  border: 1.5px;
  border-style: solid;
  border-color: rgb(255 47 0 / 99%);
  color: rgb(255 47 0 / 99%);
  font-weight: 700;
}
